<div class="banner container-fluid">

			<h1>You can give a smile :)</h1>
			
			<div class="center-margin1">
			<button type="button" class="btn btn-secondary btn-lg">Subscribe !</button>
			</div>
			
</div>

<div class="barre-bleu">
	
</div>

<div class="test">
	
</div>